<div class="container navbutton">
    <nav>
        <ul>
            <li><button class="btn"><img src="../../assets/navbtn.png" height="20px" width="70px"></button></li>
        </ul>
    </nav>
</div>
<div class="container main-grid">
    <div class="row">
        <div class="col image">
            <img src="../../assets/todomain.png" height="380px" width="552px" alt="">
        </div>
        <div class="col todo">
            <img src="../../assets/todo.png">
            <p>To Plan & Do Works</p>
            <form action="dashboard">
            <button class="btn">Login with <img src="../../assets/google.png" height="30px" width="30px" alt=""></button>
            </form>
        </div>
    </div>
</div>
